body {
    font-family: "Lato", sans-serif;
}
.main-head{
    height: 150px;
    background: #FFF;  
}
.sideheader {
    height: 99%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}
.main {
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sideheader {padding-top: 15px;}
}
@media screen and (max-width: 450px) {
    .register-form{
        margin-top: 10%;
        margin-bottom: 5%;

    }
}
@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }
    .sideheader{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .register-form{
        margin-top: 40%;
        margin-bottom: 40%;
    }
}
.register-main-text{
    margin-top: 50%;
    padding: 60px;
    color: #fff;
}
.register-main-text h2{
    font-weight: 300;
}
.btn-black{
    background-color: #000 !important;
    color: #fff;
}