.card-registration .select-input.form-control[readonly]:not([disabled]) {
	
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
  }
  .card-registration .select-arrow {
	top: 13px;
  }
  .select{
	width: 100%;
	padding: 10px;
	margin: 5px 0 20px 0;
	border: none;
	background: #f1f1f1;
  }